name: Test

on:
  pull_request:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 12 * * *'

env:
  NODE_VERSION: '24.13.0'

jobs:

  security:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Run security check
        run: npm audit

  typecheck:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Use Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Run type check
        run: npm run typecheck
